<div class="bottom-group">
    <table>
        <thead>
            <tr>
                <th class="column01">
                    <span class="title">ACCOUNT #</span>
                </th>
                <th class="column02">
                    <span class="title">Type</span>
                </th>
                <th class="column03">
                    <span class="title">Employer name</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="column01">
                    <a href="@Url.Action("Summary", "Account")" class="blue-id">0235875205</a>
                </td>
                <td class="column02">
                    <p class="bold">Ohio 457</p>
                </td>
                <td class="column03">
                    <p>Name of the Employer</p>
                </td>
            </tr>
            <tr>
                <td class="column01">
                    <a href="@Url.Action("Summary", "Account")" class="blue-id">0235875205</a>
                </td>
                <td class="column02">
                    <p class="bold">Roth 457</p>
                </td>
                <td class="column03">
                    <p>Name of the Employer</p>
                </td>
            </tr>
            <tr>
                <td class="column01">
                    <a href="@Url.Action("Summary", "Account")" class="blue-id">0235875205</a>
                </td>
                <td class="column02">
                    <p class="bold">Acme 625</p>
                </td>
                <td class="column03">
                    <p>Name of the Employer</p>
                </td>
            </tr>
            <tr>
                <td class="column01">
                    <a href="@Url.Action("Summary", "Account")" class="blue-id">0235875205</a>
                </td>
                <td class="column02">
                    <p class="bold">Lorem 325</p>
                </td>
                <td class="column03">
                    <p>Name of the Employer</p>
                </td>
            </tr>
            <tr>
                <td class="column01">
                    <a href="@Url.Action("Summary", "Account")" class="blue-id">0235875205</a>
                </td>
                <td class="column02">
                    <p class="bold">Ipsum 825</p>
                </td>
                <td class="column03">
                    <p>Name of the Employer</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
