@model InvestmentsModel
@{
    ViewBag.Title = "Investments";
    ViewBag.AtiveTab = NavigationTab.Investments;
}

<div class="investments-page all-page">
    <div class="hero-banner mix-xy">
        <div>
            <h1>Investments</h1>
            <p class="ver-desk">
                Ohio Deferred Compensation participants have access to a variety of investment options. Whether you’re a hands-on or
                hands-off investor, there are options for you. The most important factor to investing is the amount of money you invest.
                There is no magic bullet.
            </p>
            <!-- end /ver-desk -->
            <p class="ver-mobi">
                Our participants have access to a variety of inves- tment options. If you’re a hands-on or hands-off investor, there
                are options for you.
            </p>
            <!-- end /ver-mobi -->
        </div>
    </div>
    <!-- end /hero-banner -->
    <div class="primary-content">
        <div class="select-tab mix-xy ver-desk">
            <a href="javascript:;" class="simply-tab order01 mix-xy active">Fund profile &amp; prospectus</a>
            <a href="javascript:;" class="simply-tab order02 mix-xy">Fund performance</a>
            <a href="javascript:;" class="simply-tab order03 mix-xy">Understanding Investments</a>
        </div>
        <!-- end /select-tab ver-desk -->
        <div class="select-tab ver-mobi">
            <a href="javascript:;" class="click-select ver-y">
                <span class="title-tab">Fund profile & prospectus</span>
                <span class="icons icons-down"></span>
                <div class="clear"></div>
            </a>
            <ul class="list-tab">
                <li class="active">
                    <a href="javascript:;" class="list-title ver-y">
                        <span>Fund profile & prospectus</span>
                        <span class="icons icons-down"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="list-title ver-y">
                        <span>Fund performance</span>
                        <span class="icons icons-down"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="list-title ver-y">
                        <span>Understanding Investments</span>
                        <span class="icons icons-down"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- end /select-tab ver-mobi -->
        <div class="tab-content-group tab-order01-content">
            <h1>Fund Profile &amp; Prospectus</h1>
            <p class="first-para">
                Some investment options available through your Employer's Plan(s) do not have a prospectus and/or a profile available.
                Additional information may be obtained through your Employer or Plan Administrator
            </p>
            <div class="title-n-button">
                <p class="ver-desk">Supporting Documents for reference and for Knowledge :</p>
                <!-- end /ver-desk -->
                <p class="ver-mobi">Supporting Documents for reference/Knowledge :</p>
                <!-- end /ver-mobi -->
                <a href="javascript:;" class="red-btn mix-xy">Glossary of Common Invested Terms</a>
                <div class="clear"></div>
            </div>
            <!-- end /title-n-button -->
            <div class="main-table ver-desk">
                <div class="first-group">
                    <ul>
                        <li class="column01">
                            <a href="javascript:;" class="name ver-y">
                                Fund Name
                                <span class="icons"></span>
                            </a>
                        </li>
                        <li class="column02">
                            <a href="javascript:;" class="name ver-y">
                                PFund Prospectus
                                <span class="icons"></span>
                            </a>
                        </li>
                        <li class="column03">
                            <a href="javascript:;" class="name ver-y">
                                Fund Profile
                                <span class="icons"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end /first-group -->
                <div class="second-group">
                    <ul>
                        <li>
                            <div class="demo-value column01">
                                <p>FIDELITY CONTRAFUND</p>
                            </div>
                            <div class="demo-value column02">
                                <a href="javascript:;" class="red-text">View Prospectus</a>
                            </div>
                            <div class="demo-value column03">
                                <a href="javascript:;" class="red-text">View Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="demo-value column01">
                                <p>FIDELITY GROWTH COMPANY</p>
                            </div>
                            <div class="demo-value column02">
                                <a href="javascript:;" class="red-text">Siew Prospectus</a>
                            </div>
                            <div class="demo-value column03">
                                <a href="javascript:;" class="red-text">View Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="demo-value column01">
                                <p>FPA CAPITAL</p>
                            </div>
                            <div class="demo-value column02">
                                <a href="javascript:;" class="red-text">View Prospectus</a>
                            </div>
                            <div class="demo-value column03">
                                <a href="javascript:;" class="red-text">View Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="demo-value column01">
                                <p>HARTFORD SMALL COMPANY</p>
                            </div>
                            <div class="demo-value column02">
                                <a href="javascript:;" class="red-text">View Prospectus</a>
                            </div>
                            <div class="demo-value column03">
                                <a href="javascript:;" class="red-text">View Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="demo-value column01">
                                <p>OHIO DC LARGE CAP GROWHT</p>
                            </div>
                            <div class="demo-value column02">
                                <a href="javascript:;" class="red-text">View Prospectus</a>
                            </div>
                            <div class="demo-value column03">
                                <a href="javascript:;" class="red-text">View Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="demo-value column01">
                                <p>OHIO DC INTERMEDIATE BOND</p>
                            </div>
                            <div class="demo-value column02">
                                <a href="javascript:;" class="red-text">View Prospectus</a>
                            </div>
                            <div class="demo-value column03">
                                <a href="javascript:;" class="red-text">View Profile</a>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!-- end /second-group -->
            </div>
            <!-- end /ver-desk -->
            <div class="main-table ver-mobi">
                <h1>Fund Name</h1>
                <ul>
                    <li>
                        <p class="text-name">FIDELITY CONTRAFUND</p>
                        <div class="view-name">
                            <a href="javascript:;" class="click-view view-prospectus">View Prospectus</a>
                            <a href="javascript:;" class="click-view view-profile">View Profile</a>
                        </div>
                    </li>
                    <li>
                        <p class="text-name">FIDELITY GROWTH COMPANY</p>
                        <div class="view-name">
                            <a href="javascript:;" class="click-view view-prospectus">View Prospectus</a>
                            <a href="javascript:;" class="click-view view-profile">View Profile</a>
                        </div>
                    </li>
                    <li>
                        <p class="text-name">FPA CAPITAL</p>
                        <div class="view-name">
                            <a href="javascript:;" class="click-view view-prospectus">View Prospectus</a>
                            <a href="javascript:;" class="click-view view-profile">View Profile</a>
                        </div>
                    </li>
                    <li>
                        <p class="text-name">HARTFORD SMALL COMPANY</p>
                        <div class="view-name">
                            <a href="javascript:;" class="click-view view-prospectus">View Prospectus</a>
                            <a href="javascript:;" class="click-view view-profile">View Profile</a>
                        </div>
                    </li>
                    <li>
                        <p class="text-name">OHIO DC LARGE CAP GROWHT</p>
                        <div class="view-name">
                            <a href="javascript:;" class="click-view view-prospectus">View Prospectus</a>
                            <a href="javascript:;" class="click-view view-profile">View Profile</a>
                        </div>
                    </li>
                    <li>
                        <p class="text-name">OHIO DC INTERMEDIATE BOND</p>
                        <div class="view-name">
                            <a href="javascript:;" class="click-view view-prospectus">View Prospectus</a>
                            <a href="javascript:;" class="click-view view-profile">View Profile</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end /ver-mpbi -->
        </div>
        <!-- end /tab-order01-content -->
        <div class="tab-content-group tab-order02-content hide">
            <div class="title-n-button ver-desk">
                <p>Fees information</p>
                <a href="javascript:;" class="red-btn mix-xy">
                    <span class="icons"></span> Print
                </a>
                <div class="clear"></div>
            </div>
            <!-- end /title-n-button -->
            <div class="big-part-one">
                <div class="group-descriptions">
                    <div class="demo-value">
                        <span class="big-title">Fee disclosures</span>
                        <p>The Stable Value Option annualized returns are net of investment management, custody and principal protection fees.</p>
                        <p>
                            The LifePath Portfolios are designed to provide diversification and asset allocation across several types of investments
                            and asset classes, primarily by investing in underlying funds.
                        </p>
                        <p>
                            Therefore, these portfolios experience risks and expense ratios, including applicable fees and expenses, of the
                            underlying funds.
                        </p>
                        <p>Investment returns do not reflect the deduction of administrative fees.</p>
                    </div>
                    <!-- end /demo-value -->
                    <div class="demo-value">
                        <span class="big-title">Administrative Fees</span>
                        <p>
                            An annual administrative fee of 0.0014 or 0.14% is charged to each participant. Administrative fees will be charged
                            each quarter and are based on the total of a participant's account balance(s). Administrative fees will be waived
                            if the total of a participant's account balance(s) is below $5,000.
                        </p>
                        <p>Administrative fees will be capped at $55 per quarter, per participant.</p>
                    </div>
                    <!-- end /demo-value -->
                    <div class="demo-value">
                        <span class="big-title">Rebates of Fee Reimbursements</span>
                        <p>
                            Many investment options have administrative fee reimbursements included in their expense ratios. Fee reimbursements
                            received by Ohio DC will be rebated quarterly to the participant accounts invested in these options. Fee reimbursements
                            rates can be found on this website.
                        </p>
                        <p>
                            Investment decisions should not be made based on fee reimbursements. Before investing in a fund, carefully consider
                            its objectives, risks, and charges and expenses. This information and other important facts can be found in the
                            prospectus or fund profile. Read them carefully before investing.
                        </p>
                    </div>
                    <!-- end /demo-value -->
                    <div class="demo-table">
                        <span class="big-title">Fee Reimbursements Rates</span>
                        <div class="wrapper-all">
                            <div class="first-group">
                                <ul>
                                    <li class="column01 ver-y">
                                        <p>Investment Manager</p>
                                    </li>
                                    <li class="column02 ver-y">
                                        <p>Annual rebate</p>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /first-group -->
                            <div class="second-group">
                                <ul>
                                    @foreach (var item in Model.ReimbursementRates)
                                    {
                                        <li>
                                            <div class="demo-value column01">
                                                <p>@item.InvestmentManager</p>
                                            </div>
                                            <div class="demo-value column02">
                                                <p>@item.AnnualRebrate%</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <!-- end /second-group -->
                        </div>
                        <!-- end /wrapper-all -->
                    </div>
                    <!-- end /demo-table -->
                </div>
                <!-- end /group-descriptions -->
            </div>
            <!-- end /big-part-one -->
            <div class="big-part-two">
                <h1>Fund Performance as of @Model.Date.ToString("d MMMM yyyy")</h1>
                <div class="group-quarterly">
                    <div class="blue-box ver-y ver-desk">
                        <a href="javascript:;" class="simply-tab mix-xy active">Quarterly without Plan Charges</a>
                        <a href="javascript:;" class="simply-tab mix-xy">Quarterly without Plan Charges</a>
                    </div>
                    <!-- end /blue-box ver-desk -->
                    <div class="blue-box ver-y ver-mobi">
                        <a href="javascript:;" class="click-select ver-y">
                            <span class="title-tab">Quarterly without Plan Charges</span>
                            <span class="icons icons-down"></span>
                            <div class="clear"></div>
                        </a>
                        <ul class="list-tab">
                            <li class="active">
                                <a href="javascript:;" class="list-title">
                                    <span class="title-tab">Quarterly without Plan Charges</span>
                                    <span class="icons icons-down"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="list-title">
                                    <span class="title-tab">Quarterly without Plan Charges</span>
                                    <span class="icons icons-down"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- end /blue-box ver-mobi -->
                    <div class="each-tab-details">
                        <div class="tab-content order01">
                            <div class="group-current mix-xy">
                                <div class="mix-xy">
                                    <span class="big-number">@Model.CurrentQuarterYield.ToString("N2")</span>
                                    <div class="group-text">
                                        <span class="title">Current Quarter Yield</span>
                                        <p>Current Quarter Yield is the annual effective interest yield declared</p>
                                    </div>
                                </div>
                            </div>
                            <div class="group-current clone mix-xy">
                                <div class="mix-xy">
                                    <span class="big-number">@Model.PreviousQuarterYield.ToString("N2")</span>
                                    <div class="group-text">
                                        <span class="title">Previous Quarter Yield</span>
                                        <p>Previous Yield is the annual effective interest yield for the previous calendar quarter end</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end /tab-content -->
                    </div>
                    <!-- end /each-tab-details -->
                </div>
                <!-- end /group-quarterly -->
                <div class="complex-table">
                    <div class="first-group">
                        <ul>
                            <li class="column01">
                                <a href="javascript:;" class="name caplock ver-y ver-desk">
                                    Investment option
                                    <span class="icons"></span>
                                </a>
                                <span class="title ver-y ver-mobi">Investment option</span>
                            </li>
                            <li class="column02">
                                <a href="javascript:;" class="name caplock width70 ver-y ver-desk">
                                    Current Price
                                    <span class="icons"></span>
                                </a>
                                <span class="title ver-y ver-mobi">Price</span>
                            </li>
                            <li class="column03">
                                <a href="javascript:;" class="name width72 ver-y">
                                    YTD 1Jan - 31Jul @Model.Date.Year
                                    <span class="icons"></span>
                                </a>
                            </li>
                            <li class="column04">
                                <a href="javascript:;" class="name width85 ver-y">
                                    1YEAR 1Jan - 31Dec @Model.Date.Year
                                    <span class="icons"></span>
                                </a>
                            </li>
                            <li class="column05">
                                <a href="javascript:;" class="name width95 ver-y">
                                    3YEAR 1Jan - @(Model.Date.Year - 3)-Dec @Model.Date.Year
                                    <span class="icons"></span>
                                </a>
                            </li>
                            <li class="column06">
                                <a href="javascript:;" class="name width95 ver-y">
                                    5YEAR 1Jan - @(Model.Date.Year - 5)-Dec @Model.Date.Year
                                    <span class="icons"></span>
                                </a>
                            </li>
                            <li class="column07">
                                <a href="javascript:;" class="name width64 caplock ver-y">
                                    Since Adoption
                                    <span class="icons"></span>
                                </a>
                            </li>
                            <li class="column08">
                                <a href="javascript:;" class="name caplock width75 ver-y">
                                    Adoption Date
                                    <span class="icons"></span>
                                </a>
                            </li>
                            <li class="column09">
                                <a href="javascript:;" class="name caplock width72 ver-y">
                                    Expense Ratio
                                    <span class="icons"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- end /first-group -->
                    <div class="second-group">
                        <ul class="lineage01">
                            <li class="gene01">
                                <span class="bold-title">International Stocks</span>
                                @{ Html.RenderPartial("_StockList", Model.InternationalStocks); }
                                <div class="clear"></div>
                            </li>
                            <li class="gene01">
                                <span class="bold-title">Small cap stocks</span>
                                @{ Html.RenderPartial("_StockList", Model.SmallCapStocks); }
                                <div class="clear"></div>
                            </li>
                            <li class="gene01">
                                <span class="bold-title">MID cap stocks</span>
                                @{ Html.RenderPartial("_StockList", Model.MidCapStocks); }
                                <div class="clear"></div>
                            </li>
                            <li class="gene01">
                                <span class="bold-title">Large cap stocks</span>
                                @{ Html.RenderPartial("_StockList", Model.LargeCapStocks); }
                                <div class="clear"></div>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!-- end /second-group -->
                </div>
                <!-- end /complex-table -->
            </div>
            <!-- end /big-part-two -->
            <div class="big-part-three">
                <ul class="group-descriptions">
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Fee disclosures</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Fee disclosures</span>
                        <div class="group-content">
                            <p>The Stable Value Option annualized returns are net of investment management, custody and principal protection fees.</p>
                            <p>
                                The LifePath Portfolios are designed to provide diversification and asset allocation across several types of investments
                                and asset classes, primarily by investing in underlying funds.
                            </p>
                            <p>
                                Therefore, these portfolios experience risks and expense ratios, including applicable fees and expenses, of the
                                underlying funds.
                            </p>
                            <p>Investment returns do not reflect the deduction of administrative fees.</p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Administrative Fees</span>
                                <span class="icons icons-down"></span>
                            </div>

                        </a>
                        <span class="big-title ver-desk">Administrative Fees</span>
                        <div class="group-content">
                            <p>
                                An annual administrative fee of 0.0014 or 0.14% is charged to each participant. Administrative fees will be charged
                                each quarter and are based on the total of a participant's account balance(s). Administrative fees will be waived
                                if the total of a participant's account balance(s) is below $5,000.
                            </p>
                            <p>Administrative fees will be capped at $55 per quarter, per participant.</p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Rebates of Fee Reimbursements</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Rebates of Fee Reimbursements</span>
                        <div class="group-content">
                            <p>
                                Many investment options have administrative fee reimbursements included in their expense ratios. Fee reimbursements
                                received by Ohio DC will be rebated quarterly to the participant accounts invested in these options. Fee reimbursements
                                rates can be found on this website.
                            </p>
                            <p>
                                Investment decisions should not be made based on fee reimbursements. Before investing in a fund, carefully consider
                                its objectives, risks, and charges and expenses. This information and other important facts can be found in the
                                prospectus or fund profile. Read them carefully before investing.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">LifePath Portfolios</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">LifePath Portfolios</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">International Stock Funds</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">International Stock Funds</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Small-Cap Stock Funds</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Small-Cap Stock Funds</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Mid-Cap Stock Funds</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Mid-Cap Stock Funds</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Large-Cap Stock Funds</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Large-Cap Stock Funds</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Large-Cap Stock Funds</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Large-Cap Stock Funds</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Bond Funds</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Bond Funds</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                    <li class="demo-value">
                        <a href="javascript:;" class="click-me ver-mobi">
                            <div class="group-click ver-y">
                                <span class="big-title">Stable Value</span>
                                <span class="icons icons-down"></span>
                            </div>
                        </a>
                        <span class="big-title ver-desk">Stable Value</span>
                        <div class="group-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet.
                            </p>
                        </div>
                    </li>
                    <!-- end /demo-value -->
                </ul>
                <!-- end /group-descriptions -->
            </div>
            <!-- end /big-part-three -->
        </div>
        <!-- end /tab-order02-content -->
    </div>
    <!-- end /primary-content -->
</div>
