@{
    ViewBag.Title = "About Us";
    ViewBag.AtiveTab = NavigationTab.AboutUs;
    IList<BoardMemberModel> members = ViewBag.BoardMembers;
    IList<BoardMeetingModel> meetings = ViewBag.BoardMeetings;
}

<div class="about-us-page all-page">
    <div class="hero-banner mix-xy">
        <div>
            <h1>About Us</h1>
            <p class="ver-desk">
                Ohio Deferred Compensation is a supplemental 457(b) retirement plan for all Ohio public employees and one of the largest
                457(b) plans in the country. Deferred compensation has been the Program's only responsibility since 1976. Because
                of the Program’s size, plan expenses are low.
            </p>
            <p class="ver-mobi">
                Ohio Deferred Compensation is a supplemental 457(b) retirement plan for all Ohio public employees and one of the largest
                457(b) plans in the country.
            </p>
        </div>
    </div>
    <!-- end /hero-banner -->
    <div class="primary-content">
        <div class="select-tab mix-xy ver-desk">
            <a href="javascript:;" class="simply-tab order01 mix-xy active">About Ohio DC</a>
            <a href="javascript:;" class="simply-tab order02 mix-xy">Board Members</a>
            <a href="javascript:;" class="simply-tab order03 mix-xy">Services</a>
        </div>
        <!-- end /select-tab -->
        <div class="select-tab ver-mobi">
            <a href="javascript:;" class="click-select ver-y">
                <span class="title-tab">About Ohio DC</span>
                <span class="icons icons-down"></span>
                <div class="clear"></div>
            </a>
            <ul class="list-tab">
                <li class="active">
                    <a href="javascript:;" class="list-title ver-y">
                        <span>About Ohio DC</span>
                        <span class="icons icons-down"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="list-title ver-y">
                        <span>Our Board Members</span>
                        <span class="icons icons-down"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="list-title ver-y">
                        <span>Our Services</span>
                        <span class="icons icons-down"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- end /select-tab -->
        <div class="tab-content tab-order01-content">
            <div class="big-part-one">
                <p class="para01">
                    <span class="unique">Ohio</span> Deferred Compensation is a Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam lore eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                    vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit asperniat lorur aut odit aut fugit, sed
                    quia lorem consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                    ipsum iquia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore
                    et dolore magnam aliquam quaerat voluptate iso Utoloi enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vellipi eum iure reprehenderit qui in
                    ea voluptate velit esse quam nihil molestiae consequatur.
                </p>
                <div class="para-n-img">
                    <div class="left-group">
                        <div class="demo-thumbnail">
                            <img src="~/Content/i/thumbnail01.jpg" alt="IMG">
                        </div>
                    </div>
                    <div class="right-group">
                        <p>
                            The Program is unique that it is a public, non-profit organization created Ohio legislation. A 13-member Board,
                            composed of public employees, retirees, and appointed investment experts, governs the Program as required by Ohio
                            Revised Code Chapter 148. The staff manages and administers the Program with public employees' best interests in
                            mind. and External managers professionally. Investment options are selected and monitored by the Board and its
                            independent investment lreom consultant. A 13-member Board, composed of public employees, retirees, and appointed
                            investment experts, governs the Program as required by Ohio Revised Code Chapter 148.
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- end /para-n-img -->
                <div class="group-quote mix-xy">
                    <div class="cover-all">
                        <img class="symbol01" src="~/Content/i/bracket01.png" alt="IMG">
                        <img class="symbol02" src="~/Content/i/bracket02.png" alt="IMG">
                        <p>
                            The Program provides participants with educational tools, a diverse set of investment options, flexible savings
                            and withdrawal options
                        </p>
                    </div>
                </div>
                <!-- end /group-quote -->
            </div>
            <!-- end /big-part-one -->
            <div class="big-part-two">
                <p class="para01">
                    Ohio Deferred Compensation is a Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam lore eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                    sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernat lorur aut odit aut fugit, sed quia lorem consequuntur
                    magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum iquia dolor
                    sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                    aliquam quaerat voluptatem. Utoloi enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                    nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                    nihil molestiae consequatur.
                </p>
                <div class="video-n-para">
                    <div class="left-group">
                        <iframe class="video" src="https://www.youtube.com/embed/n_ClRTR7M3E" data-frameborder="0" data-gesture="media" data-allow="encrypted-media"
                                allowfullscreen></iframe>
                    </div>
                    <div class="right-group mix-xy">
                        <div>
                            <h1>Watch our video to know more</h1>
                            <p>
                                Ohio Deferred Compensation is a supplemental 457(b) retirement plan for all Ohio public employees and one of the
                                largest 457(b) plans in the country. Deferred compensation has been the Program's only responsibility since 1976.
                                Because of the Program’s size, plan expenses are low.
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- end /video-n-para -->
                <div class="why-choose-us">
                    <ul>
                        <li>
                            <p>
                                Ohio Deferred Compensation is a Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium
                            </p>
                        </li>
                        <li>
                            <p>The Program is unique that it is a public, non-profit organization created by Ohio legislation</p>
                        </li>
                        <li>
                            <p>The staff manages and administers the Program with public employees' best interests in mind.</p>
                        </li>
                        <li>
                            <p>External managers professionally manage the Program’s investment options.</p>
                        </li>
                        <li>
                            <p>Investment options are selected and monitored by the Board and its independent investment consultant.</p>
                        </li>
                    </ul>
                </div>
                <!-- end /why-choose-us -->
            </div>
            <!-- end /big-part-two -->
        </div>
        <!-- end /tab-order01-content -->
        <div class="tab-content tab-order02-content hide">
            <div class="big-part-one ver-desk">
                @{ int i = 0; }
                @foreach (var grouping in members.GroupBy(s => i++ / 5))
                {
                    <ul class="board-members mix-xy">
                        @foreach (var member in grouping)
                        {
                            <li class="mix-xy">
                                <div>
                                    <img src="@member.ImageUrl" alt="IMG">
                                    <span class="name">@member.Name</span>
                                    <span class="office">@member.Office</span>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
            <!-- end /big-part-one -->
            <div class="big-part-one ver-mobi">
                <ul class="board-members">
                    @foreach (var member in members)
                    {
                        <li class="mix-xy">
                            <div>
                                <img src="@member.ImageUrl" alt="IMG">
                                <span class="name">@member.Name</span>
                                <span class="office">@member.Office</span>
                            </div>
                        </li>
                    }
                </ul>
                <!-- end /board-members -->
            </div>
            <!-- end /big-part-one -->
            <div class="big-part-two">
                <h1>Board Meetings</h1>
                <p class="first-para">
                    The Ohio DC Board (Board), the governing body of the Program, is responsible for the administration and management
                    of Ohio DC. The Board typically holds six regular meetings per year in the odd-numbered months. Meetings of the Board
                    are governed by the Ohio Open Meetings Act and are generally open to the public.
                </p>
                <div class="list-meetings">
                    @{ int j = 0; }
                    @foreach (var grouping in meetings.GroupBy(s => j++ / 4))
                    {
                        <ul>
                            @{ int index = 1; }
                            @foreach (var meeting in grouping)
                            {
                                string css = "box-order0" + index++;
                                <li class="@css mix-xy">
                                    <div>
                                        <p class="date-time">@meeting.Date.ToString("MMM d yyyy h:mm tt")</p>
                                        <p class="countdown">
                                            Duration :
                                            <span>@meeting.Duration</span>
                                        </p>
                                        <a href="javascript:;" class="view-details">View Agenda</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <!-- end /list-meetings -->
                <a href="javascript:;" class="btn-request mix-xy">REQUEST TO SPEAK</a>
            </div>
            <!-- end /big-part-two -->
        </div>
        <!-- end /tab-order02-content -->
        <div class="tab-content tab-order03-content hide">
            <div class="part-one">
                <p class="ver-desk">
                    As an Ohio Deferred Compensation participant, you have access to a variety of services to help you prepare for retirement.
                    Learn more about how to take loi full advantage of the Program.eferred Compensation is a Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantiumi totam rem aperiam lore eaque ipsa quae ab
                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia lo
                    voluptas sit asperniat lorur aut odit aut fugit, sed quia lorem consequuntur magni dolores eos qui ratione voluptatem
                    sequi nesciunt. Neque porro quisqu iam est, qui dolorem ipsum iquia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam loremi aliquam quaerat voluptate iso Utoloi
                    enim ad minima veniam.
                </p>
                <p class="ver-mobi">
                    As an Ohio Deferred Compensation participan lta youa have access to a variety of services unlorde omnis istea natus
                    error sit voluptatemccusantium doloremque sit laudantium, totam rem aperia lom lorloreue miso eaque ipsa quae ab
                    illo invento lre veritatis eloret quasi dolor architecto beata loree vitae dicta sunt explicabo lor emoa.
                </p>
            </div>
            <!-- end /part-one -->
            <div class="part-two">
                <div class="left-group">
                    <img src="~/Content/i/image01.jpg" alt="IMG">
                </div>
                <!-- end /left-group -->
                <div class="right-group">
                    <h1>Service Center</h1>
                    <p class="first-para">
                        Visit the Service Center in Columbus or call our licensed Account Executives. We can answer your questions and help
                        you with:
                    </p>
                    <div class="why-choose-us">
                        <ul>
                            <li>
                                <p>Enrolling</p>
                            </li>
                            <li>
                                <p>Changing in your deferral or investment options</p>
                            </li>
                            <li>
                                <p>Setting up your online account</p>
                            </li>
                            <li>
                                <p>Providing asset allocation information</p>
                            </li>
                            <li>
                                <p>Starting withdrawals from your account when you retire</p>
                            </li>
                            <li>
                                <p>Automatically increasing your deferrals through the SMarT Plan.</p>
                            </li>
                            <li>
                                <p>
                                    For information about hours, directions, and appointments, please
                                    <a href="javascript:;" class="red-text">contact us.</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end /why-choose-us -->
                </div>
                <!-- end /right-group -->
                <div class="clear"></div>
            </div>
            <!-- end /part-two -->
            <div class="part-three">
                <div class="right-group ver-mobi">
                    <img src="~/Content/i/image02.jpg" alt="IMG">
                </div>
                <!-- end /right-group -->
                <div class="left-group">
                    <h1>Field Account Executives</h1>
                    <p class="first-para">
                        Field Account Executives present worksite seminars to help public employees learn more about the Program and its
                        services and enroll potential participants. Licensed by the Financial Industry Regulatory Authority (FINRA), Field
                        Account Executives provide education on:
                    </p>
                    <div class="why-choose-us">
                        <ul>
                            <li>
                                <p>Investing</p>
                            </li>
                            <li>
                                <p>Investment options</p>
                            </li>
                            <li>
                                <p>Personal finance</p>
                            </li>
                            <li>
                                <p>Retirement issues</p>
                            </li>
                        </ul>
                    </div>
                    <!-- end /why-choose-us -->
                    <p class="second-para">
                        Information provided by Retirement Planning Specialists and Account Executives is for educational purposes only and
                        is not intended as investment advice.
                    </p>
                </div>
                <!-- end /left-group -->
                <div class="right-group ver-desk">
                    <img src="~/Content/i/image02.jpg" alt="IMG">
                </div>
                <!-- end /right-group -->
                <div class="clear"></div>
            </div>
            <!-- end /part-three -->
            <div class="part-two part-four">
                <div class="left-group">
                    <img src="~/Content/i/image03.jpg" alt="IMG">
                </div>
                <!-- end /left-group -->
                <div class="right-group">
                    <h1>Retirement Planning Specialists</h1>
                    <p class="first-para">
                        Get assistance with your retirement journey from our Retirement Planning Specialists. These Chartered Financial Consultants
                        (ChFC) help Program participants with planning for retirement at no charge
                    </p>
                    <div class="why-choose-us">
                        <ul>
                            <li>
                                <p>Your retirement goals and how to help achieve them</p>
                            </li>
                            <li>
                                <p>Strategies to help minimize taxes</p>
                            </li>
                            <li>
                                <p>How to coordinate income from various sources</p>
                            </li>
                            <li>
                                <p>General information about tax deferral</p>
                            </li>
                            <li>
                                <p>Withdrawal illustrations</p>
                            </li>
                            <li>
                                <p>Deferred compensation allocation strategies during retirement</p>
                            </li>
                        </ul>
                    </div>
                    <!-- end /why-choose-us -->
                    <p class="second-para ver-desk">
                        For an appointment, call
                        <a href="javascript:;" class="call-me">877-644-6457</a>.
                    </p>
                    <div class="call-me ver-mobi">
                        <p class="second-para">For an appointment call us Now :</p>
                        <a href="javascript:;" class="click-call mix-xy">
                            call
                            <span class="call-number">877-644-6457</span>
                        </a>
                    </div>
                </div>
                <!-- end /right-group -->
                <div class="clear"></div>
            </div>
            <!-- end /part-two -->
        </div>
        <!-- end /tab-order03-content -->
    </div>
    <!-- end /primary-content -->
</div>
<!-- end /about-us-page-content -->
